<div class="layout-wrapper">

   <div class="layout-topbar">
      <div class="layout-topbar-logo">
         <span>Mi logo</span>
      </div>

      <div class="layout-topbar-menu">
         <p-button icon="pi pi-check"></p-button>
         <p-button label="Submit" icon="pi pi-check"></p-button>
         <p-button label="Submit" icon="pi pi-check" iconPos="right"></p-button>
      </div>
   </div>

   <div class="layout-sidebar">
      <p-megaMenu [model]="items" styleClass="w-full" orientation="vertical"></p-megaMenu>
   </div>

   <div class="layout-main-container">
      <div class="layout-main">

         <form [formGroup]="form" autocomplete="off">

            <app-form-field [control]="form.controls['email']" label="Email" [required]="true"
               [isLoadingIcon]="isLoading">
               <input type="text" formControlName="email" class="w-full" pInputText />
            </app-form-field>

            <app-form-field [control]="form.controls['edad']" label="Edad" [required]="true"
               [isLoadingIcon]="isLoading">
               <input type="text" formControlName="edad" class="w-full" pInputText />
            </app-form-field>

            <app-form-field [control]="form.controls['pais']" label="Pais" [required]="true">
               <p-autoComplete [class.ng-dirty]="form.controls['pais'].invalid" styleClass="w-full" [dropdown]="true"
                  [suggestions]="cities" formControlName="pais"></p-autoComplete>
            </app-form-field>

            <app-form-field [control]="form.controls['password']" label="Password" [required]="true">
               <input type="text" formControlName="password" class="w-full" pInputText />
            </app-form-field>

            <app-form-field [control]="form.controls['ciudad']" label="Ciudad" [required]="true">
               <p-dropdown [class.ng-dirty]="form.controls['ciudad'].invalid" styleClass="w-full" [options]="cities"
                  formControlName="ciudad" optionLabel="name" placeholder="Select Item"></p-dropdown>
            </app-form-field>

            {{ form.controls['email'].errors | json }}
            <pre>{{ form.controls['ciudad'].invalid | json }}</pre>

         </form>



         <p-button label="Submit" (click)="cargarAsync()"></p-button>
         <h1>contenido principal</h1>

         <h1>contenido principal</h1>

         <h1>contenido principal</h1>

         <h1>contenido principal</h1>

         <h1>contenido principal</h1>

         <h1>contenido principal</h1>

         <h1>contenido principal</h1>
         <h1>contenido principal</h1>
         <h1>contenido principal</h1>
         <h1>contenido principal</h1>
         <h1>contenido principal</h1>
         <h1>contenido principal</h1>
         <h1>contenido principal</h1>
         <h1>contenido principal</h1>
         <h1>contenido principal</h1>
         <h1>contenido principal</h1>
         <h1>contenido principal</h1>
         <h1>contenido principal</h1>
         <h1>contenido principal</h1>
         <h1>contenido principal</h1>
         <h1>contenido principal</h1>
         <h1>contenido principal</h1>
         <h1>contenido principal</h1>
         <h1>contenido principal</h1>
         <h1>contenido principal</h1>
         <h1>contenido principal</h1>
         <h1>contenido principal</h1>
         <h1>contenido principal</h1>
         <h1>contenido principal</h1>
         <h1>contenido principal</h1>
         <h1>contenido principal</h1>
         <h1>contenido principal</h1>
         <h1>contenido principal</h1>
         <h1>contenido principal</h1>
         <h1>contenido principal</h1>
         <h1>contenido principal</h1>
         <h1>contenido principal</h1>
         <h1>contenido principal</h1>
         <h1>contenido principal</h1>
         <h1>contenido principal</h1>
      </div>
   </div>

</div>